@import 'bootstrap/dist/css/bootstrap.min.css';
@import './loginForm.css';
@import './productsForm.css';
@import './navbar.css';
@import './masthead.css';
@import './card.css';
@import './cardDetail.css';
@import './darkMode.css';
@import './prodottoSingolo.css';


/* Variabili colori e font */
@import './var.css';

*{
    overflow-x: 0;
}

body {
    /* place-items: center; */
    /* height: 100vh; */
    margin: 0;
    /* background: linear-gradient(to bottom, var(--bluScuro) , var(--BluChiaro) ); */
    /* background-color: var(--GhostWhite); */
    background-repeat: no-repeat;
  }

.text-yellow{
    color: var(--giallo);
}