@import './var.css';

@import './star.css';

.box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 70px;
  height: 40px;
  border-radius: 30px;
  background-color: var(--grigioScuro);
  box-shadow: 1px 1px 2px white;
  border: 0;
  transition: 0.3s;
}

.toggle{
width: 30px;
height: 30px;
border-radius: 50%;
position: absolute;
right: 0%;
margin: 5px;
transition: 0.4s;
}

.toggleDark{
  background-color: var(--bluScuro);
}

.toggleLight{
  background-color: var(--blu);
}

