@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300');

:root {

  --Rosso: rgb(254, 95, 85);
  --GhostWhite: rgb(247, 247, 255);
  --BluChiaro: rgb(189, 213, 234);
  --bluScuro: rgb(87, 115, 153);
  --Grigio: rgb(73, 88, 103);
  
  --font1: 'Josefin Sans', sans-serif;
  --font2: 'Comfortaa', cursive;
  
  }

body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, var(--bluScuro) , var(--BluChiaro) );
}

.login-form {
  width: 400px;
  padding: 50px;
  border-radius: 12px;
  /* border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  border: 1px solid #114357;
  display: grid;
  backdrop-filter: blur(12px);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  position: relative;
}

h1 {
  color: white;
  letter-spacing: 2px;
  margin-top: 0;
  text-align: center
}

input, button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 20px auto;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
  color: white
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input:focus {
  outline: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.signup:hover {
  /* color: #F29492; */
  color:black;
}

.forgot-signup {
  display: flex;
  justify-content: space-between;;
}

button {
  cursor: pointer;
  background: #F29492;
  color: white;
  transition: 0.5s;
}

button:hover {
  background: #114357;
  box-shadow: 1px 1px 1px white;
}

.blob {
  position: absolute;
  top: 30vh;
  left: calc(50% - 300px);
}

.fa-solid{
    color: #114357;
}

@media screen and (max-width: 420px){

  .login-form{
    width: 300px;
  }

}