@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300');
@import './var.css';



.login-form {
  width: 400px;
  padding: 50px;
  border-radius: 12px;
  /* border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  border: 1px solid #114357;
  display: grid;
  backdrop-filter: blur(12px);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  position: relative;
}

h1 {
  color: white;
  letter-spacing: 2px;
  margin-top: 0;
  text-align: center
}

input, .btnLogin {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 20px auto;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
  color: white
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input:focus {
  outline: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.signup:hover {
  /* color: #F29492; */
  color:black;
}

.forgot-signup {
  display: flex;
  justify-content: space-between;;
}

.btnLogin {
  cursor: pointer;
  background: var(--Rosso);
  color: white;
  transition: 0.5s;
}

.btnLogin:hover {
  background: var(--verde);
  box-shadow: 1px 1px 1px white;
  color: white;
}

.fa-solid{
    color: #114357;
}

@media screen and (max-width: 420px){

  .login-form{
    width: 300px;
  }

}