@import './var.css';

/* Variabili colori e font */

.titoloNav{
    font-family: var(--fontTitolo);
}

.span{
    color: var(--Rosso);
    font-weight: bold;
}


nav .nav-link , button{
    color: black ;
    transition: 0.4s;
}

 .nav .nav-link:hover , button:hover , .btn:hover{
    color: rgb(13, 110, 253) !important;
    transform: translateY(-8px);
}

.a-cust{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
}

.linkAuth{
    width: 33px;
    /* height: 35px; */

}

@media screen and(max-width:769px){

    .titoloNav{
        font-size: 90px !important;
    }

}




