@import './var.css';

/* Variabili colori e font */


.span{
    color: var(--Rosso);
    font-weight: bold;
}


nav .nav-link{
    color: black !important;
    transition: 0.4s;
}

nav .nav-link:hover{
    color: rgb(13, 110, 253) !important;
    transform: translateY(-8px);
}



.a-cust{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
}

