@import './swiper.css';


  .prodotto{
    padding: 2.5em 0;
    background-color: var(--GhostWhite);
    border-radius: 25px;
    /* max-height: 300px; */
  }

  /* ----- Product Section ----- */
  .product {
    /* display: grid; */
    /* grid-template-columns: 0.9fr 1fr; */
    /* margin: auto; */
    padding: 2.5em 0;
    /* min-width: 600px; */
    background-color: var(--GhostWhite);
    border-radius: 25px;
  }
  
  