@import './var.css';

.create-form {
  padding: 50px;
  border-radius: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border: 1px solid var(--bluScuro);
  backdrop-filter: blur(12px);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  position: relative;
}

@media screen and (max-width: 576px) {
  .create-form {
    padding: 10px;
  }
}

.h1-cust {
  color: var(--GhostWhite);
  letter-spacing: 2px;
  margin-top: 0;
  /* text-align: center */
}

input, .btnForm {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 20px auto;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
  color: var(--GhostWhite);
}

input::placeholder {
  color: var(--grigio);
}

input:focus {
  outline: none;
}

textarea, .btnForm {
  /* display: block;  */
  box-sizing: border-box;
  width: 100%;
  margin: 20px auto;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
  color: var(--GhostWhite);
}

textarea::placeholder {
  color: var(--grigio);
}

textarea:focus {
  outline: none;
}

a {
  color: var(--GhostWhite);
  text-decoration: none;
  font-size: 16px;
}

.btn-cust {
  cursor: pointer;
  background: var(--Rosso);
  color: var(--GhostWhite);
  transition: 0.5s;
}

.btn-cust:hover {
  background: var(--grigio);
  box-shadow: 1px 1px 1px var(--GhostWhite);
}

.fa-solid{
    color: var(--grigio);
}