/* :root {

    --Rosso: rgb(254, 95, 85);
    --GhostWhite: rgb(247, 247, 255);
    --BluChiaro: rgb(189, 213, 234);
    --bluScuro: rgb(87, 115, 153);
    --Grigio: rgb(73, 88, 103);
    
    --font1: 'Josefin Sans', sans-serif;
    --font2: 'Comfortaa', cursive;
    
    } */

    :root {

        --Rosso: rgb(252, 40, 25);
        --GhostWhite: rgb(247, 247, 255);
        --BluChiaro: rgb(189, 213, 234);
        --bluScuro: rgb(13, 110, 253);
        --verde: rgb(60, 139, 34);
        --giallo: rgb(237, 200, 15);
        --blu: rgb(32, 51, 192);
        --grigioScuro: #383838;
        
        --font1: 'Josefin Sans', sans-serif;
        --font2: 'Comfortaa', cursive;
        --fontTitolo: 'Titillium Web', sans-serif;
        }